<% const d = new Date() %>
<% let year = d.getFullYear() %>
<footer>
  <p><a href="/trigger-error" style="color: red; font-weight: bold;">Trigger Error (500)</a></p>
  <p>&copy; <%= year %>, CSE 340 App</p>
</footer>